.home {
  width: 100%;
  /* height: 100vh; */
}

.home__slogan-search {
  /* height: 500px; */
  width: 100%;
  background-color: var(--color-white);
  /* background-color: #de5935; */
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 50px 0;
}

.home__slogan-search h2 {
  text-align: center;
  font-size: 35px;
  margin: 50px;
}

.home__searchBucket {
  max-width: 1400px;
  /* height: 100px; */
  padding: 20px 20px 0 20px;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 50px;
  
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.home__searchBucket form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.searchBucket__field {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 150px;
  font-size: 25px;
  padding-bottom: 20px;
}

.searchBucket__field input {
  width: 90%;
  height: 60px;
  margin: 5px 5px 0 0;
  padding-left: 10px;
  font-size: 20px;
  border: none;
}

.searchBucket__field input:focus {
  border: 3px solid var(--color-orange);
  border-radius: 3px;
  outline: none;
}

.home__otherSection {
  /* width: 100%; */
  height: calc(100vh);
  background-color: #5ac3b0;
}

.home__searchBucket button {
  width: 180px;
  height: 50px;
  margin: auto;
  font-size: 25px;
  border: none;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 1px;
  background-color: var(--color-orange);
}

.home__searchBucket button:hover {
  background-color: var(--color-orange-bright);
}

/* #priceFrom {
  width: 90px;
}
#priceTo {  
  width: 100px;
} */