.home {
  width: 100%;
}

.home__slogan-search {
  /* height: 500px; */
  width: 100%;
  background-color: var(--color-white);
  /* background-color: #de5935; */
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 50px 0;
}

.home__slogan-search h2 {
  text-align: center;
  font-size: 35px;
  margin: 50px;
}

.home__searchBucket {
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 50px;
  
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.home__searchBucket form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.searchBucket__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #ddd;
  margin: 0 2px;
  position: relative;
}

.searchBucket__field:hover {
  background-color: var(--color-white);
}
.searchBucket__field:hover input{
  background-color: var(--color-white);
}

.searchBucket__field label {
  /* background-color: red; */
  display: block;
  width: 100%;
  padding-left: 5px;
  font-size: 25px;
}

.searchBucket__field input {
  width: 90%;
  height: 40px;
  margin: 5px 0 0 0;
  padding-left: 5px;
  font-size: 20px;
  border: none;
}

.searchBucket__field input:focus {
  background-color: white;
  border: 3px solid var(--color-orange);
  border-radius: 3px;
  outline: none;
}

.home__otherSection {
  /* width: 100%; */
  height: calc(100vh);
  background-color: #5ac3b0;
}

.home__searchBucket button {
  width: 180px;
  height: 50px;
  font-size: 25px;
  margin: 30px 0 10px 0;
  border: none;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 1px;
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home__searchBucket button:hover {
  background-color: var(--color-orange-bright);
}