
.listings__filters {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid #ddd;
}
.filtersBtn__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filtersBtn__container {
  height: 60px;
  /* margin-left: 10px; */
  margin: 10px 0;
}

.filtersBtn__container button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
}

.filtersBtn__container button img {
  width: 50px;
  height: 50px;
}

.filtersBtn__container button p {
  padding-left: 5px;
}

#filterBtn {
  margin-left: 15px;
  border: none;
  background-color: var(--color-orange);
  border: 5px solid var(--color-orange);
  /* border-radius: 3px; */
  /* border: 3px solid var(--color-orange); */
}
#filterBtn:hover {
  background-color: var(--color-orange-bright);
}

#sortBtn {
  margin-left: 20px;
  border: 5px solid var(--color-orange);
  background-color: white;
}
#sortBtn:hover {
  background-color: #eee;
}


/* ~~~~~~~~~~~~~~~~~~~~~~ MODAL ~~~~~~~~~~~~~~~~~~~~~~ */

.modal, .modal__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 80%;
  position: relative;
  background-color: white;
  border-radius: 3%;
  display: flex;
}

.modal__content button#closeModalBtn {
  width: 45px;
  height: 45px;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}
button#closeModalBtn:hover {
  background-color: rgba(50, 50, 50, 0.2);
  border-radius: 50%;
}

.modal__content h3 {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  font-size: 30px;
  text-align: center;
  border-bottom: 3px solid #ddd;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



