.listingSubmit {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}
.listingSubmit__form {
  width: 80%;
}
.listingSubmit__form h2{
  margin: 25px 0 15px 0;
  font-size: 30px;
}
.listingSubmit__form textarea {
  width: 100%;
  font-size: 20px;
  resize: none;
  padding: 10px;
  border: 3px solid var(--color-yellow);
}
.listingSubmit__form textarea:focus {
  background-color: white;
  border-radius: 3px;
  border: 3px solid var(--color-orange);
  outline: none;
}
.listingSubmit__field {
  margin: 10px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.listingSubmit__field input{
  height: 40px;
  width: 200px;
  font-size: 20px;
  padding-left: 10px;
  border: 3px solid var(--color-yellow);
}
.listingSubmit__field input:focus{
  background-color: white;
  border-radius: 3px;
  border: 3px solid var(--color-orange);
  outline: none;
}
.listingSubmit__field label{
  padding-left: 10px;
  font-size: 20px;
}
/* ~~~~~~~~~~~~~~~~~~~~ Pictures ~~~~~~~~~~~~~~~~ */
.listingSubmit__pictures__wrapper {
  display: flex;
  flex-direction: column;
}
.listingSubmit__pictures {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
}
.listingSubmit__pictures__add {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: var(--color-orange);
}
.listingSubmit__pictures__add input {
  font-size: 25px;
}
.listingSubmit__pictures__add-primary {
  width: 70%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.listingSubmit__pictures__add-images {
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
/* ~~~~~~~~~~~~~~~~~~~~ Map ~~~~~~~~~~~~~ */
.listingSubmit__map-wrapper {
  width: 100%;
  height: 500px;
  margin-top: 15px;
  position: relative;
}
.listingSubmit__map-coords input{
  height: 40px;
  font-size: 20px;
  margin-right: 10px;
  padding-left: 10px;
  border: 3px solid var(--color-yellow);
}
.listingSubmit__map-coords input:focus{
  background-color: white;
  border-radius: 3px;
  border: 3px solid var(--color-orange);
  outline: none;
}
.listingSubmit__map-coords label{
  font-size: 20px;
}
/* ~~~~~~~~~~~~~~~~~~~~ Space ~~~~~~~~~~~~~ */
.listingSubmit__space {
  display: flex;
  flex-direction: column;
}
/* ~~~~~~~~~~~~~~~~~~~~ Grid ~~~~~~~~~~~~~ */
.listingSubmit__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.listingSubmit__grid-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.listingSubmit__grid-field input{
  width: 30px;
  height: 30px;
  font-size: 15px;
  margin-right: 10px;
}
.listingSubmit__grid-field label{
  font-size: 20px;
}
/* ~~~~~~~~~~~~~~~~~~~~ Submit ~~~~~~~~~~~~~ */
.listingSubmit__submit {
  width: 100%;
  min-height: 100px;
  margin-top: 25px;
  padding: 15px 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.listingSubmit__submit button {
  width: 180px;
  height: 60px;
  font-size: 25px;
  border: none;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 1px;
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.listingSubmit__submit button:hover {
  background-color: var(--color-orange-bright);
}
/* ~~~~~~~~~~~~~~~~~~~~ Dropdowns ~~~~~~~~~~~~~ */
.listingSubmit__field .field__dropdown {
  top: 100%;
  position: absolute;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid var(--color-orange);
  z-index: 1;
}

.listingSubmit__field input[type="checkbox"]:checked {
  background-color: var(--color-orange);
}