* {
  color: var(--color-brown);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro Topnav', sans-serif;
}

html, body {
  width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  --color-white: #fff7d4;
  --color-yellow: #fcd843;
  --color-orange: #e0a015;
  --color-orange-bright: #eeaf29;
  --color-brown: #4b3d3d;
  --color-gray: #535353;
  --color-light-gray: #6b6b6b;
} 