.header {
  width: 100%;
  /* height: 100px; */
  padding: 10px 0;
  background-color: var(--color-yellow);
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  margin: 0 15px;
  font-size: 30px;
  color: var(--color-brown);
  font-weight: bold;
}
.header__logo img{
  width: 100px;
  height: 100px;
}
.header__logo a {
  display: flex;
  flex-direction: row;
  align-items: end;
  text-decoration: none;
}
.header__logo a:active, a:visited {
  color: var(--color-brown);
}
.header__logo h1 {
  margin-left: 5px;
}

.header__navbar {
  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.header__navbar a {
  margin-right: 10px;
  padding: 10px;
  font-size: 30px;
  border-radius: 25px;
  color: var(--color-brown);
  text-decoration: none;
  font-weight: bolder;
  /* background-color: red; */
}
.header__navbar a:hover {
  color: var(--color-brown);
  background-color: var(--color-orange);;
}

.header__suliWrapper {
  border: 3px solid var(--color-brown);
  border-radius: 40px;
  background-color: var(--color-white);
}

.header__suliWrapper button {
  font-size: 20px;
  border: none;
  background-color: transparent;
  padding: 10px 15px;
  color: var(--color-brown);
  border-radius: 40px;
}

.header__suliWrapper button:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.header__suliWrapper button:active {
  background-color: var(--color-orange-bright);
  color: var(--color-white);
}

.header__avatar__wrapper {
  display: flex;
  align-items: center;
}

.header__avatar {
  width: 80px;
  height: 80px;
  position: relative;
}

.header__avatar img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--color-brown);
  background-color: var(--color-white);
}

.modal, .modal__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 1;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.header__avatar:hover .avatar__dropdown {
  display: flex;
}

.avatar__dropdown {
  width: 200px;
  top: 100%;
  right: 25%;
  display: none;
  position: absolute;
  background-color: var(--color-white);
  border-radius: 10%;
  border: 3px solid var(--color-brown);
  flex-direction: column;
  align-items: left;

  z-index: 1;
}

.avatar__dropdown p {
  
  font-size: 25px;
  margin: 10px 10px 0 10px;
  padding: 5px;
  border-bottom: 3px solid var(--color-brown);
  font-weight: bolder;
}
.avatar__dropdown span {
  font-size: 20px;
  font-weight: lighter;
}

.avatar__dropdown a {
  color: var(--color-brown);
  font-size: 25px;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.avatar__dropdown a:hover {
  background-color: var(--color-yellow);
}

